<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap" rel="stylesheet"> -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/base.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="top-div">

            <h2>WELCOME HERE</h2>
            <ul id="icons">
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a> </li>
                <li><a href="#" class="fa fa-instagram"></a></li>
            </ul>
        </div>
        <h2 id="logo">CAKE<span>Na</span> </h2>
        <nav>
            <li><a href="#">HOME</a></li>
            <li><a href="#">PAGES</a></li>
            <li><a href="#">PRODUCTS</a></li>
            <li><a href="#">DELIVERY</a></li>
            <li><a href="#tables" id="about">ABOUT</a></li>
            <li><a href="#">CONTACT</a></li>
        </nav>

    </header>

    <main>
        <section id="hero">
            <div class="hero container">
                <div>
                    <h1>Pure Artistry, <br> Always Fresh</h1>
                    <a href="#flex">ORDER NOW</a>
                </div>
            </div>
        </section>
        <section id="middle">
            <h1>Modern & Contemporary Drink Design</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt qui ut delectus facere, veritatis pariatur, laboriosam sint iste voluptas quibusdam itaque natus sed fuga illum iure cumque, quis provident vero.</p>
        </section>
        <section id="flex">
            <% items.forEach(item => {   %> 
                <div>
                    <img src="<%= item.image %> " alt="">
                    <p><%= item.name %> </p>
                    <p id="price"><%= item.price %> </p>
                </div>
           <%  }); %> 
        </section>
        <fieldset id="fieldset"> 
            <legend style="margin-left: 10px; font-size: medium;" >  Make your order </legend>
            <form  id="order-form"  >
                <div>
                    <legend>Your name</legend>
                    <input type="text" name="name" placeholder="enter your name">
                </div>
                <div>
                    <legend>Phone Number</legend>
                    <input type="text" id="phone" name="phone_number" placeholder="enter your phone num" required>
                </div>
                <div>
                    <legend>Your Location</legend>
                    <input type="text" name="location" placeholder="enter your location" required>
                </div>
                <div>
                    <legend>Which juice</legend>
                    <select name="juice" id="" required>
                        <% items.forEach(item => { %>
                            
                            <option value="<%= item.name %> "><%=item.name %></option>
                       <% });  %> 
                    </select>
                </div>
                <div>
                    <legend>Quantity</legend>
                    <input type="number" name="quantity" placeholder="How many" required>
                </div>
                <div id="submit-div">

                    <input type="submit" value="Order" id="order" >
                </div>
            </form>
        </fieldset>

    </main>

    <footer>
        <!-- <h2 id="logo-footer">CAKE<span>Na</span> </h2> -->
            <div>
                 <span class="headers-row">Working Hours : </span> <br>
                <span class="para-footer">

                    Friday / closed <br>
                    Saturday / 5pm - 11pm <br>
                    Sunday & Tuesday & Thursday / 5pm - 11pm <br>
                    Monday & Wed / 5pm - 11pm
                </span>
            </div>
            <div>
                <span class="headers-row">Locations : </span> 
                    <br>
                    <span class="para-footer">
                        Amman | street 18 <br>
                        Zarqa | street 36 <br>
                        Azraq | Azraq-Alshamali  18
                    </span>

            </div>
            <div>
                <span class="headers-row">Contact Us:</span><br>
                <ul id="icons-footer">
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a> </li>
                    <li><a href="#" class="fa fa-instagram"></a></li>
                </ul>
        
            </div>

    
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>